/* CSS Reset */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

html {
    scroll-behavior: smooth;
}
body,
button,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
legend,
li,
ol,
p,
select,
table,
td,
textarea,
th,
ul,
header,
nav,
section {
    margin: 0;
    padding: 0;
    font-family: 'Pretendard', sans-serif;
    box-sizing: border-box;
}

body,
button,
input,
select,
table,
textarea {
    font-size: 17px;
    font-family: 'Pretendard', sans-serif;
}

button,
input {
    border-radius: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

fieldset,
img {
    border: 0
}

ol,
ul {
    list-style: none
}

address,
em {
    font-style: normal
}

a {
    text-decoration: none
}

iframe {
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: 0
}
.clear {
    clear: both;
}